/* Coolors Exported Palette - coolors.co/1c1c1c-59cc33-f2f2f2-e5e5e5-896c6c */

$color-dark: #1c1c1c; //rgba(28, 28, 28, 100)
$color-theme: #59cc33; //rgba(89, 204, 51, 100)
$color-theme-light: #6ee65d;
$color-light: #f2f2f2; //rgba(242, 242, 242, 100)
$color-medium: #e5e5e5; //rgba(229, 229, 229, 100)
$color-complementary: #896c6c; //rgba(137, 108, 108, 100)
$color-complementary-light: #c3b096;
/*******fonts***************************************************************/

$font-title: 'Contrail One', cursive;

$font-core: 'Titillium Web', sans-serif;

$font-header: 'Lobster', cursive;


/*******Breakpoints**********************************************************/

$break-large: 72rem;
